#root {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

:root {
  --body-bg: rgb(255, 250, 250);
  --body-secondary-bg: aliceblue;
  --body-color: #21282e;
  --body-secondary-color: rgba(33, 37, 41, 0.55);
  --header-selected-option: rgba(33, 37, 41, 0.9);
  --header-selected-option-hover: #e9ecef;
  --border-color: rgba(33, 37, 41, 0.15);
}

[data-theme="dark"] {
  --body-bg: rgb(30, 45, 46);
  --body-secondary-bg: rgb(33, 37, 41);
  --body-color: aliceblue;
  --body-secondary-color: antiquewhite;
  --header-selected-option: rgba(255, 255, 255, 0.9);
  --header-selected-option-hover: rgb(33, 37, 41);
  --border-color: rgba(250, 235, 215, 0.1);
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  color-scheme: light dark;
  color: var(--body-color);
  background-color: var(--body-bg);
  overflow-y: scroll;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a:focus-visible {
  outline: 2px solid antiquewhite;
}

button {
  border-radius: 16px;
  border-color: #1a1a1a;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--body-secondary-bg);
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 2px auto antiquewhite;
}

p {
  font-size: larger;
  font-weight: bolder;
}

.spinner {
  margin: 20px;
  display: flex;
  justify-content: center;
}
