#responsive-games {
  padding-bottom: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  color: var(--body-color);
  background-color: var(--body-bg);
}

#content-games {
  background-color: var(--body-bg);
  padding-top: 10px;
  padding-bottom: 10px;
}

.rodada-games {
  background-color: var(--body-secondary-bg);
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  margin: 0;
}

.col-games {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-1-games,
.button-2-games,
#button-3-games,
.button-4-games,
.button-5-games {
  color: var(--body-color);
  background: rgba(76, 175, 80, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-1-games,
.button-2-games,
.button-3-games {
  color: var(--body-color);
}

.radius-top-games {
  border-radius: 16px 16px 0 0;
}

.bye-games {
  color: var(--body-secondary-color);
}

.img-games {
  height: 30px;
}

.match-games {
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  #button-1-games,
  .button-2-games,
  #button-3-games,
  .button-4-games,
  .button-5-games {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .rodada-games {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 300px) {
  #button-1-games,
  .button-2-games,
  #button-3-games,
  .button-4-games,
  .button-5-games {
    font-size: 10px;
  }

  .rodada-games {
    justify-content: center;
  }

  .img-games {
    height: 25px;
  }

  .match-games {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 200px) {
  #button-1-games,
  .button-2-games,
  #button-3-games,
  .button-4-games,
  .button-5-games {
    font-size: 10px;
  }

  .img-games {
    height: 20px;
  }
}
