#responsive-games {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  color: white;
  background-color: #21282e;
}

.rodada-games {
  background-color: #212529;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0;
}

.col-games {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-1-games,
.button-2-games,
#button-3-games,
.button-4-games,
.button-5-games {
  color: white;
  background: rgba(76, 175, 80, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-1-games,
.button-2-games,
.button-3-games {
  color: antiquewhite;
}

.bye-games {
  color: antiquewhite;
}

.img-games {
  width: 30px;
  height: 30px;
}

.match-games {
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  #button-1-games,
  .button-2-games,
  #button-3-games,
  .button-4-games,
  .button-5-games {
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .rodada-games {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 300px) {
  #button-1-games,
  .button-2-games,
  #button-3-games,
  .button-4-games,
  .button-5-games {
    font-size: 10px;
  }

  .rodada-games {
    justify-content: center;
  }

  .img-games {
    width: 25px;
    height: 25px;
  }

  .match-games {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 200px) {
  #button-1-games,
  .button-2-games,
  #button-3-games,
  .button-4-games,
  .button-5-games {
    font-size: 10px;
  }

  .img-games {
    width: 20px;
    height: 20px;
  }
}
