.bg-teal-header {
  background-color: #10fab3;
  font-weight: bold;
  font-size: large;
  border-radius: 0 0 16px 16px;
  padding: 2px;
}

a.option-header,
a.option-selected-header {
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: var(--body-secondary-color);
  text-decoration: none;
}

a.option-header:hover {
  background-color: var(--header-selected-option-hover);
  color: var(--header-selected-option);
}

a.option-selected-header {
  color: var(--header-selected-option);
  border-bottom: 1px solid var(--body-secondary-color);
}

a.option-selected-header:hover {
  background-color: var(--header-selected-option-hover);
}

div.dropdown-menu {
  width: 180px;
}

a.dropdown-toggle {
  display: flex;
  align-items: center;
}

.margin-header {
  margin-right: 4px;
}

.icon-header {
  color: rgba(0, 0, 0, 0.55);
  margin: 0 4px;
}

.icon-header:hover {
  color: rgba(0, 0, 0, 0.9);
}

.img-header {
  margin-bottom: 2px;
  margin-right: 0.35rem;
}

.img-brand-header {
  max-width: 100%;
  max-height: 100%;
}

.brand-header {
  margin: 0;
  padding: 0;
  height: 2.75rem;
  width: 2.75rem;
}

.icon-theme-header {
  color: #21282e;
  padding: 0;
}

.checkbox-header {
  display: flex;
  align-items: center;
}

label.form-check-label {
  padding-left: 6px;
}

.form-check-input:checked {
  background-color: #21282e;
  border-color: #21282e;
}
