#responsive-table {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #21282e;
}

.form-th-table,
.form-td-table {
  text-align: center;
  vertical-align: middle;
}

.form-th-table {
  color: antiquewhite;
}

.form-pad-table {
  margin-right: 2px;
}

.green-table {
  width: 16px;
  height: 16px;
  color: rgb(32, 121, 32);
}

.gray-table {
  color: gray;
}

.red-table {
  color: #8b1717;
}

td {
  vertical-align: middle;
}

.img-table {
  width: 30px;
  height: 30px;
}

.table {
  color: aliceblue;
  align-items: center;
}

th.col-num-table {
  width: 50px;
}

td.col-num-table {
  width: 50px;
}

td.col-name-table {
  text-align: start;
  width: 250px;
}

#responsive-table > table > thead > tr > th,
#responsive-table > table > tbody > tr > th,
#responsive-table > table > tfoot > tr > th,
#responsive-table > table > thead > tr > td,
#responsive-table > table > tbody > tr > td,
#responsive-table > table > tfoot > tr > td {
  white-space: nowrap;
}

@media only screen and (max-width: 1400px) {
  th.col-num-table,
  td.col-num-table {
    max-width: 40px;
  }

  th.col-name-table,
  td.col-name-table {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  th.col-num-table,
  td.col-num-table {
    max-width: 30px;
  }

  th.col-name-table,
  td.col-name-table {
    max-width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  #responsive-table {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border-collapse: collapse;
    margin-bottom: 15px;
    box-shadow: none;
    border-radius: 0;
  }
  #responsive-table > table {
    margin-bottom: 0;
    background-color: #fff;
  }
  #responsive-table > table > thead > tr > th,
  #responsive-table > table > tbody > tr > th,
  #responsive-table > table > tfoot > tr > th,
  #responsive-table > table > thead > tr > td,
  #responsive-table > table > tbody > tr > td,
  #responsive-table > table > tfoot > tr > td {
    white-space: nowrap;
  }
  #responsive-table > table > tbody > tr {
    border: none;
  }
  #responsive-table > table > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  #responsive-table > table > tbody > tr > td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
