#responsive-table {
  padding-top: 10px;
  overflow-x: auto;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--body-bg);
}

.form-th-table,
.form-td-table {
  text-align: center;
  vertical-align: middle;
}

.form-th-table {
  color: var(--body-secondary-color);
}

.form-pad-table {
  margin-right: 2px;
}

.green-table {
  width: 1em;
  height: 1em;
  color: rgb(32, 121, 32);
}

.gray-table {
  color: gray;
}

.red-table {
  color: #8b1717;
}

td {
  vertical-align: middle;
}

.img-table {
  height: 30px;
}

.table {
  color: var(--body-color);
  background-color: var(--body-secondary-bg);
  border-radius: 16px 16px 0 0;
}

a.link-table {
  color: var(--body-color);
  text-decoration: none;
  font-weight: bolder;
}

.radius-left-table {
  border-radius: 16px 0 0 0;
}

.radius-right-table {
  border-radius: 0 16px 0 0;
}

th.col-num-table {
  width: 50px;
}

td.col-num-table {
  width: 50px;
}

th.col-name-table,
td.col-name-table {
  text-align: start;
  width: 250px;
}

#responsive-table > table > thead > tr > th,
#responsive-table > table > tbody > tr > th,
#responsive-table > table > tfoot > tr > th,
#responsive-table > table > thead > tr > td,
#responsive-table > table > tbody > tr > td,
#responsive-table > table > tfoot > tr > td {
  white-space: nowrap;
}

@media only screen and (max-width: 1400px) {
  th.col-num-table,
  td.col-num-table {
    max-width: 40px;
  }

  th.col-name-table,
  td.col-name-table {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  th.col-num-table,
  td.col-num-table {
    max-width: 30px;
  }

  th.col-name-table,
  td.col-name-table {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 992px) {
  #responsive-table {
    font-size: 0.9rem;
  }

  th.col-name-table,
  td.col-name-table {
    max-width: 120px;
  }
}

@media only screen and (max-width: 768px) {
  th.col-num-table,
  td.col-num-table {
    max-width: 35px;
  }
}

@media only screen and (max-width: 576px) {
  #responsive-table {
    font-size: 0.8rem;
  }

  th.col-num-table,
  td.col-num-table {
    max-width: 30px;
  }
}
